.home-page {
  flex-direction: column;
  align-items: center
}

.home-img {
  background-image: url('https://thumbs.dreamstime.com/b/nail-care-procedure-beauty-salon-female-hands-tools-manicure-pink-background-concept-spa-bodycare-192486151.jpg');
  background-size: cover;
  background-position: center;
}
