.home-page {
  flex-direction: column;
  align-items: center
}

.home-img {
  background-image: url('https://media.istockphoto.com/photos/female-hands-with-beige-nail-design-picture-id944542812?b=1&k=20&m=944542812&s=170667a&w=0&h=rkwBZkbqzKGujDt_umf45y4iKUw1pIR5PkiPNkKQV7M=');
  background-size: cover;
  background-position: center;
}

.card-contents {
  background-color: rgba(255, 0, 0, 0.9) !important
}
